body, .main-container, #web-nav {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
}

button {
  text-transform: uppercase;
}

.clearfix::after {
  content: " ";
  clear: both;
  display:block;
  visibility: hidden;
  height: 0;
}

.clear {
  clear: both;
}

#web-nav {
  list-style-type: none;
  background: rgb(153, 117, 91);
  font-size: 1.5em;
}

#web-nav li {
  height: 50px;
  display: inline-block;
  margin: 0 1.1%;
}

#web-nav li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 2px;
  height: 50px;
  font-weight: 100;
}

#web-nav li span {
  display: inline-block;
  width: 25px;
  height: 1.5em;
  float: left;
  margin-top: 10px;
}

#web-nav #logo-nav  {
    background: url("../resources/logo.png") no-repeat;
    display: inline-block;
    width: 150px;
    height: 1.6em;
}

#web-nav #home-nav-icon  {
    background: url("../resources/menu/menu-home-icon.png") no-repeat;
}

#web-nav #store-nav-icon  {
    background: url("../resources/menu/menu-store-icon.png") no-repeat;
}

#web-nav #gift-nav-icon  {
    background: url("../resources/menu/menu-gift-icon.png") no-repeat;
}

#web-nav #deals-nav-icon  {
    background: url("../resources/menu/menu-deals-icon.png") no-repeat;
}

#web-nav #news-nav-icon  {
    background: url("../resources/menu/menu-news-icon.png") no-repeat;
}

#web-nav #about-us-nav-icon  {
    background: url("../resources/menu/menu-about-us-icon.png") no-repeat;
}

#web-nav #contact-us-nav-icon  {
    background: url("../resources/menu/menu-contact-us-icon.png") no-repeat;
}

#web-nav #profile-nav-icon, #web-nav #cart-nav-icon, #web-nav #search-nav-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

#web-nav #profile-nav-icon {
    background: url("../resources/menu/menu-profile-icon.png") no-repeat;
}

#web-nav #cart-nav-icon {
    background: url("../resources/menu/menu-cart-icon.png") no-repeat;
    width: 30px;
}

#web-nav #search-nav-icon {
    background: url("../resources/menu/menu-search-icon.png") no-repeat;
}

#store-nav-content {
  position: fixed;
  top: 60px;
  left: 320px;
  width: 350px;
  height: 420px;
  background: rgb(51, 45, 43);
  color: #fff;
  display: none;
}

#store-nav-content .store-nav-element-lbl {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.5);
  margin: 3% 0;
}

#store-nav-content #store-date-types {
  height: 50%;
  padding-bottom: 3%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  margin: 0 5%;
}

#store-nav-content #store-date-types div span {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 0.6em;
}

#store-nav-content #store-special-occasions {
  margin: 0 5%;
  height: 47%;
}

#store-nav-content #store-special-occasions .special-occasion {
  width: 100px;
  height: 100%;
  display: inline-block;
}

span.store-special-occasion-image {
  display: inline-block;
  width: 90px !important;
  height: 90px !important;
  border-radius: 100%;
  background: url('../resources/product-box.jpg') no-repeat center center;
}

span.store-special-occasion-name {
  font-size: 0.7em;
  width: 100px !important;
  text-align: center;
}

#store-nav:hover {
  background: rgb(51, 45, 43);
}

#store-nav:hover #store-nav-content, #profile-nav:hover #profile-nav-content,
#cart-nav:hover #cart-nav-content {
  display: block;
}

#profile-nav-content {
  position: fixed;
  top: 60px;
  left: 920px;
  width: 350px;
  height: 480px;
  background: rgb(51, 45, 43);
  color: #fff;
  display: none;
}

#profile-personal-settings, #profile-buttons, #profile-country-language {
  width: 90%;
  margin: 2.5% auto;
  font-size: 0.8em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#profile-personal-settings {
  height: 40%;
}

#profile-country-language {
  height: 30%;
  width: 80%;
  font-size: 0.7em;
}

#profile-personal-settings #profile-settings-buttons {
  height: 30px;
}

#profile-personal-settings span {
  display: inline-block;
  width: 100px !important;
}

#profile-personal-settings a {
  display: inline-block;
  width: 100px !important;
  height: 22px !important;
  line-height: 1.4em;
  font-size: 0.7em;
  background-color: grey;
  background-repeat: no-repeat;
  background-position: 2px center;
  text-align: center;
  border-radius: 15%;
  padding-top: 2px;
}

#profile-personal-settings #profile-settings {
  float: left;
  background-image: url('../resources/profile-edit.png');
}

#profile-personal-settings #profile-logout {
  float: right;
  background-image: url('../resources/profile-logout.png');
}

#profile-personal-settings #profile-image {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-top: 30px;
  background: #fff;
  margin: 0 auto;
}

#profile-personal-settings #profile-name, #profile-personal-settings #profile-email {
  width: 100% !important;
  text-align: center;
}

#profile-personal-settings #profile-email {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
}

#profile-orders-buttons a {
  font-size: 0.55em;
}

#profile-orders-buttons {
  margin: 0 auto;
  width: 90%;
  height: 25%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#profile-orders-buttons a {
  display: inline-block;
  margin-right: 10px;
  height: 90px !important;
  padding-top: 85px;
}

#profile-orders-buttons #my-wishlist {
  background: url('../resources/my-wishlist.png') no-repeat center center;
}

#profile-orders-buttons #my-orders {
  background: url('../resources/my-orders.png') no-repeat center center;
}

#profile-orders-buttons #my-addresses {
  background: url('../resources/my-addresses.png') no-repeat center center;
}

#countries-languages-container {
  width: 90%;
  margin: 0 auto;
}

#country-and-language-lbl {
  background: url('../resources/country-and-language.png') no-repeat 30px center
}

#profile-country-language span {
  width: 300px !important;
  text-align: center;
  margin-bottom: 10px;
}

#profile-country-language a {
  display: inline-block;
  width: 80px;
  padding-left: 25px;
}

#countries-languages-container #country-UAE {
  background: url('../resources/flag-UAE.png') no-repeat;
}

#countries-languages-container #country-KSA {
  background: url('../resources/flag-KSA.png') no-repeat;
}

#countries-languages-container #country-USA {
  background: url('../resources/flag-USA.png') no-repeat;
}

#countries-languages-container #lang-english {
  background: url('../resources/lang-en.png') no-repeat;
  margin-left: 15px;
}

#countries-languages-container #lang-arabe {
  background: url('../resources/lang-arab.png') no-repeat;
}

#cart-nav-content {
  position: fixed;
  top: 60px;
  left: 920px;
  width: 350px;
  height: 480px;
  background: rgb(51, 45, 43);
  color: #fff;
  display: none;
}

#cart-nav-content .cart-nav-item {
  height: 120px;
  font-size: 0.8em;
}

#cart-nav-content .cart-nav-item-image, #cart-nav-content .cart-nav-item-details {
  height: 80px;
}

#cart-nav-content .cart-nav-item .cart-nav-item-image {
  float: left;
  width: 80px;
  margin: 15px 5px 0 15px;
  background: url('../resources/product-box.jpg') no-repeat center;
  border: 2px solid rgb(154, 119, 94);
}

#cart-nav-content .cart-nav-item .cart-nav-item-details {
  float: right;
  width: 250px;
  height: 120px;
}

#cart-nav-content .cart-nav-item .cart-nav-item-details span {
  display: inline-block;
  width: 250px;
}

#cart-nav-content input[type="number"] {
  display: inline-block;
  height: 25px;
  margin-bottom: 15px;
}

#cart-nav-content #subtotal, #cart-nav-content #apply-coupon {
  width: 250px;
  font-size: 0.8em;
}

#cart-nav-content #subtotal {
  float: left;
}

#cart-nav-content #subtotal-price {
  font-size: 0.8em;
}

.cart-nav-details {
  width: 320px;
  height: 100px;
  margin: 0 auto;
}

.cart-nav-details button {
  width: 100%;
  margin-top: 10px;
  background: rgb(153, 117, 91);
  border: none;
}

.cart-nav-details button:focus {
  outline: none;
}

#cart-nav-content #apply-coupon {
  display: inline-block;
  width: 330px;
  margin: 15px auto 0 auto;
  text-align: center;
}

header {
  height: 170px;
  background: url("../resources/covered_dates.jpg");
  color: white;
  margin-bottom: 40px;
}

header h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 3.5em;
  padding: 54.5px 0;
  margin:0;
}

#about-us {
  margin: 0 30px;
  text-align: justify;
}

#about-us h2 {
  font-weight:bold;
  margin: 0 0 20px 0;
}

#login, #registration, #inquiry, #edit-profile {
  width: 350px;
  margin: 0 auto;
}

#login form input, #registration form input, #edit-profile form input, #new-address form input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 350px;
  margin: 0 0 10px 0;
  padding: 0;
}

#login form label, #registration label, #new-address label {
  margin: 0;
}

#login form #login-btn, #registration button, #inquiry button,
#edit-profile button, #addresses button {
  width: 350px;
  line-height: 2.7em;
  color: rgb(255, 255, 255);
  background: rgb(153, 117, 91);
  padding: 0;
  border: none;
  font-weight: 500;
}

#login form #forgot-password{
  text-decoration: none;
  color: #aaa;
  display: inline-block;
  float: right;
  margin-top: 10px;
}

#login form #social-logins-label {
  display: inline-block;
  padding: 0;
  margin: 40px 0 10px 0;
}

#login form #social-logins button {
  width: 110px;
  margin-right: 6.5px;
  height: 50px;
  border: none;
  background: url('../resources/login-facebook.png') no-repeat;
}

#login form #social-logins button:focus {
  outline: none;
}

#login form #sign-up {
  text-align: center;
}

#login form #sign-up label {
  margin-right: 5px;
  color: rgb(153, 117, 91);
}

#login form #sign-up a, #registration #sign-up a, #edit-profile form a {
  color: #aaa;
  text-decoration: none;
}

#login label {
  padding-left: 35px;
}

#login #email-lbl {
  background: url('../resources/signup-email.png') no-repeat 0 center;
}

#login #password-lbl {
  background: url('../resources/signup-password.png') no-repeat 0 center;
}

#contact-us {
  width: 700px;
  margin: 0 auto;
}

#contact-us-buttons {
  width: 700px;
  margin: 15px auto 40px auto;
}

#contact-us-buttons button {
  width: 150px;
  line-height: 2.4em;
  margin: 0 5px;
  border: 1px solid #ccc;
  background: #fff;
  box-sizing: content-box;
}

#contact-us .centered {
  display:block;
  text-align: center;
  margin:0;
}

#contact-us a {
  padding-left: 35px;
}

#contact-us #contact {
  background: url('../resources/signup-email.png') no-repeat 0 center;
}

#contact-us #call {
  background: url('../resources/call-us.png') no-repeat 0 center;
}

#contact-us #customer-service {
  margin-bottom: 40px;
}

#contact-us #customer-service a {
  text-decoration:none;
  color: #000;
}

#customer-service #floated-left, #customer-service #floated-right {
  width:330px;
  line-height: 2.6em;
  border-top: 1px solid #ccc;
}

#contact-us #customer-service #floated-left {
  float: left;
}

#contact-us #customer-service #floated-right {
  float: right;
}

#contact-us #customer-service label {
  margin-bottom: 15px;
}

#contact-us #contact-us-social {
  float: left;
  width: 330px;
}

#contact-us #contact-us-stores {
  float: right;
  width: 330px;
}

#contact-us-social label, #contact-us-stores label {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

#contact-us-social label, #contact-us-stores label {
  display: block;
  text-align:center;
}

#contact-us-social button, #contact-us-stores button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
}

#contact-us-stores button {
  margin: 0 17%;
}

#contact-us-social .bordered-right {
  margin-right: 31%;
  border-right: 1px solid #eee;
}

#contact-us-social button:focus {
  outline: none;
}

#contact-us-social #follow-facebook {
  background: url('../resources/follow-facebook.png') no-repeat center;
}

#contact-us-social #follow-twitter {
  background: url('../resources/follow-twitter.png') no-repeat center;
}

#contact-us-social #follow-instagram {
  background: url('../resources/follow-instagram.png') no-repeat center;
}

#contact-us-stores #app-store {
  background: url('../resources/download-ios.png') no-repeat center;
}

#contact-us-stores #google-play {
  background: url('../resources/download-android.png') no-repeat center;
}

#registration form #firstname, #registration form #lastname, #registration form .password {
  width: 175px;
  display: inline-block;
}

#registration form #firstname input, #registration form #lastname input {
  width: 160px;
  display: inline-block;
}

#registration form #lastname input, #registration form #lastname label {
  margin-left: 15px;
}

#registration #firstname label {
  padding-left: 35px;
  background: url('../resources/signup-name.png') no-repeat 0 center;
}

#registration #email label {
  padding-left: 35px;
  background: url('../resources/signup-email.png') no-repeat 0 center;
}

#registration #password-content label {
  padding-left: 35px;
  background: url('../resources/signup-password.png') no-repeat 0 center;
}

#registration form select, #new-address form select {
  width: 160px;
  height: 50px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

#registration form select {
  padding-left: 35px;
}

#registration form select.gender {
  background-image: url('../resources/dropdown.png'), url('../resources/signup-gender.png');
  background-position: 95% center, 0 center;
}

#registration select.country {
  background-image: url('../resources/dropdown.png'), url('../resources/signup-country.png');
  background-position: 95% center, 0 center;
}

#registration form .gender {
  margin-right: 30px;
}

#registration .inline-block {
  display: inline-block;
}

#registration #show-password {
  float: right;
}

#registration form input[type="checkbox"]#show-password {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  margin: 0;
  margin: 2px 0 0 10px;
}

#registration form input[type="checkbox"]#show-password:checked::before {
  font-size: 0.9em;
}

#registration form #show-password-lbl {
  float: right;
  width: 80%;
}

#registration #registration-subscription {
  color: #aaa;
  margin-bottom: 30px;
  padding-top: 15px;
}

#registration #subscription-lbl {
  width: 85%;
  font-size: 0.9em;
  float: right;
}

#registration #registration-subscription input[type="checkbox"] {
  display: inline-block;
  float: left;
  margin: 0 5px 0 0;
}

#registration #sign-up {
  margin-top: 5px;
}

#registration #sign-up label{
  font-size: 0.9em;
  text-align:center;
  margin-top: 5px;
}

#inquiry input, #inquiry textarea, #inquiry select {
  width: 350px;
  line-height: 2.5em;
  background: #eee;
  border: 1px solid #ccc;
}

#inquiry select {
  height: 2.8em;
  border-radius: none;
}

#inquiry-email, #inquiry-phone, #inquiry-message, #inquiry-help-option {
  margin-bottom: 10px;
}

#inquiry button {
  margin-top: 30px;
}

#all-reviews .review {
  width: 400px;
  margin-right: 25px;
  display: inline-block;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

#all-reviews .review h2 {
  font-size: 1.0em;
}

#all-reviews .review label {
  font-weight: bold;
}

#all-reviews .review p {
  text-align: justify;
  color: #aaa;
}

#all-reviews .review #rating {
  width: 100px;
  float: right;
}

#all-reviews .review .rated {
  font-weight: bold;
  margin-right: 10px;
}

#all-reviews .review .review-rating {
  display: inline-block;
  width: 45px;
  background: rgb(153, 117, 91);
  border-radius: 15px;
  padding: 3px;
  text-align: center;
  color: #fff;
}

#edit-profile label {
  color: grey;
  margin: 0;
}

#edit-profile a {
  display: inline-block;
  font-weight: bold;
  margin-top: 30px;
}

#edit-profile #reset-password-btn {
  height: 40px;
  background: url('../resources/reset.png') no-repeat 0 center;
  padding-left: 35px;
  font-size: 1.2em;
  color: grey;
  text-transform: uppercase;
  padding-top: 5px;
}

#addresses {
  width: 400px;
  margin-left: 50px;
}

#addresses .address {
  background: url('../resources/address-pin.png') no-repeat;
  padding-left: 30px;
}

#addresses button {
  width: 400px;
  background-image: url('../resources/address-add.png');
  background-repeat: no-repeat;
  background-position: 10px center;
}

#addresses button:focus {
  outline: none;
}

#addresses .address {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

#addresses .address div {
  float: left;
}

#addresses .address .address-country-section {
  width: 100%;
}

#addresses .address .address-edit, #addresses .address .address-delete {
  display: inline-block;
  width: 20%;
  height: 50px;

  margin-top: 10px;
  float: right;
}

#addresses .address .address-edit {
  background: url('../resources/address-edit.png') no-repeat;
}

#addresses .address .address-delete {
  background: url('../resources/address-delete.png') no-repeat;
}

#addresses .address-name, #addresses .address-country {
  font-weight: bold;
}

#new-address div {
  margin-bottom: 10px
}

#new-address #add-an-address-title {
  width: 1220px;
  display: block;
  margin: 0 auto 20px auto;
  background: #eee;
  line-height: 4.2em;
  padding-left: 70px;
  background-image: url('../resources/address-new.png');
  background-repeat: no-repeat;
  background-position: 20px center;
}

#new-address #address-first-column, #new-address #address-second-column, #new-address #address-third-column {
  width: 370px;
  float: left;
}

#new-address #address-first-column, #new-address #address-second-column {
  margin-right: 55px;
}

#new-address #address-third-column {
  margin-right: 30px;
}

#new-address #address-first-column {
  margin-left: 30px;
}

#new-address form select {
  width: 350px;
}

#new-address form textarea {
  width: 370px;
  height: 120px;
  border: none;
  background: #eee;
  padding: 10px;
  resize: none;
}

#new-address form button {
  width: 175px;
  margin-top: 30px;
  line-height: 2.6em;
  border: none;
}

#new-address form #new-address-cancel-btn {
  margin-right: 20px;
  background: #eee;
}

#new-address form #new-address-add-btn {
  background: rgb(153, 117, 91);
  color: #fff;
}

#new-address form select {
  padding: 0;
}

#deals .deal {
  width: 1150px;
  height: 250px;
  margin: 0 auto 20px auto;
  background: url("../resources/covered_dates.jpg") no-repeat;
}

#deals .deal a {
  display: block;
  height: 250px;
}

#products, #wishlist {
  width: 1170px;
  margin: 0 auto;
}

#products .product, #wishlist .product, #search-trending-searches .product {
  width: 370px;
  float: left;
  margin: 0 20px 40px 0;
}

#products .product .product-discount-label, #wishlist .product .product-discount-label,
#search-trending-searches .product .product-discount-label {
  display: inline-block;
  width: 90px;
  background: rgb(233, 69, 85);
  color: #fff;
  box-sizing: content-box;
  padding: 7px 10px;
  text-align: center;
  font-weight: bold;
}

#products .product .product-wishlist-btn, #wishlist .product .product-remove-btn,
#search-trending-searches .product .product-wishlist-btn {
  float: right;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../resources/wishlist-big-empty.png') no-repeat;
}

#products .product .product-wishlist-btn:active,
#search-trending-searches .product .product-wishlist-btn:active {
  background: url('../resources/wishlist-big-full.png') no-repeat;
}

#products .product .product-image, #wishlist .product .product-image,
#search-trending-searches .product .product-image {
  width: 370px;
  height: 150px;
  margin: 5px 0 20px 0;
  background: url("../resources/product-box.jpg") no-repeat 10px;
}

#products .product h2, #wishlist .product h2,
#search-trending-searches .product h2 {
  font-size: 1.1em;
  font-weight: bold;
}

#products .product p, #wishlist .product p,
#search-trending-searches .product p {
  color: #aaa;
}

#products .product .product-add-to-cart-btn, #wishlist .product .product-add-to-cart-btn,
#search-trending-searches .product .product-add-to-cart-btn {
  float: right;
  color: #fff;
  background: rgb(153, 117, 91);
  border: none;
  padding: 7px 10px;
}

#products .product .product-price, #wishlist .product .product-price,
#search-trending-searches .product .product-price {
  color: #000;
  font-size: 1.7em;
  margin-right: 15px;
  text-decoration: line-through;
}

#products .product .product-discounted-price, #wishlist .product .product-discounted-price,
#search-trending-searches .product .product-discounted-price {
  font-size: 1.7em;
  color: rgb(233, 69, 85);
}

#wishlist .product .product-remove-btn {
  background: url('../resources/delete-big.png') no-repeat;
}

#write-review, #coupon, #submit-email-message, #product-zoomed {
  position: fixed;
  top:0;
  left:0;
  width: 1280px;
  height: 800px;
  background: rgba(54, 48, 46, 0.95);
}

#write-review .close-btn, #coupon .close-btn,
#submit-email-message .close-btn, #product-zoomed .close-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 1.4em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
}

#write-review #write-review-content-area {
  padding: 20px;
}

#write-review #write-review-rating, #write-review #write-review-rating label {
  text-align: center;
  font-weight: bold;
  font-size: 1.0em;
}

#write-review #write-review-rating {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#write-review #review-to-be-posted, #coupon #coupon-area, #submit-email-message #email-message, {
  width: 350px ;
  height: 550px;
  margin: 100px auto 0 auto;
  background: #fff;
}

#write-review #review-to-be-posted {
  width: 350px;
  height: 570px;
  margin: 100px auto 0 auto;
  background: #fff;
}

#write-review #write-review-lbl {
  text-align: center;
  background: #eee;
  line-height: 3.4em;
  margin: 0;
}

#write-review label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin: 10px 0;
}

#write-review input, #write-review textarea {
  width: 310px;
  background: #eee;
  border: none;
  height: 40px;
}

#write-review textarea {
  resize: none;
  height: 150px;
  margin-bottom: 20px;
}

#write-review button, #coupon #coupon-area button, #submit-email-message #email-message button {
  width: 310px;
  line-height: 2.4em;
  background: rgb(153, 117, 91);
  color: #fff;
  border: none;
}

#write-review button:focus, #coupon button:focus, #email-message button:focus {
  outline:none;
}

#coupon #coupon-area, #submit-email-message #email-message {
  height: 200px;
  padding: 20px;
}

#coupon #coupon-area label {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.3em;
}

#coupon #coupon-area input {
  width: 310px;
  line-height: 2.4em;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#submit-email-message #email-message {
  width: 350px;
  margin: 300px auto 0 auto;
  height: 250px;
  text-align: center;
  background: #fff;
}

#submit-email-message #email-message p {
  margin-top: 15px;
}

#product-zoomed #product-zoomed-image {
  width: 900px;
  height: 580px;
  margin: 100px auto 0 auto;
  background: url("../resources/product-box-zoomed.jpg") no-repeat 2px;
}

#feedback #feedback-first-column, #feedback #feedback-second-column {
  width: 580px;
  margin: 0 30px;
  float: left;
}

#feedback #feedback-description-container {
  width: 400px;
  margin: 0 auto;
}

#feedback h3, #feedback label {
  display: block;
  font-weight: bold;
  text-align: center;
}

#feedback label {
  color: #ccc;
}

#feedback #rating-label-icon {
  display: inline-block;
  width: 400px;
  height: 100px;
  background: url('../resources/rating.png') no-repeat center;
}

#feedback .question {
  margin-top: 15px;
  height: 120px;
  border-bottom: 1px solid #ccc;
  font-size: 1.3em;
  color: #5a5a5a;
}

#feedback button {
  width: 550px;
  margin: 0 25px 0 25px;
  background: rgb(153, 117, 91);
  color: #fff;
  border: none;
  line-height: 1.8em;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-top: 20px;
}

#feedback .feedback-rating {
  margin-top: 15px;
  float: right;
}

#feedback .feedback-rating .rating-star, #write-review-rating-stars .rating-star {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('../resources/star-empty.png') no-repeat;
}

#feedback .feedback-rating .rating-star:active, #write-review-rating-stars .rating-star:active {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('../resources/star-full.png') no-repeat;
}

#search input[type="text"] {
  width: 95%;
  display: block;
  margin: 0 auto;
  background: #eee;
  border: none;
  line-height: 2.2em;
  margin-bottom: 30px;
  font-size: 2.0em;
  padding-left: 15px;
}

#search #search-filter, #search #search-trending-searches {
  float: left;
}

#search #search-filter {
  margin: 0 2% 0 2.5%;
  width: 30%;
}

#search #search-trending-searches {
  margin-right: 2.5%;
  width: 63%;
}

#search #search-filter span {
  display: block;
  width: 100%;
  background-color: #eee;
  text-align: center;
  line-height: 3.2em;
  font-weight: bold;
  margin-bottom: 10%;
}

#search #search-filter select, #registration select, #new-address select {
  width: 85%;
  border: none;
  height: 50px;
  margin-top: 15px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 10px;
  background-image: url('../resources/dropdown.png');
  background-repeat: no-repeat;
  background-position: 95% center;
}

#search #search-filter #filter {
  display: inline-block;
  background-image: url('../resources/filter.png');
  background-repeat: no-repeat;
  background-position: 15px center;
}

#search #search-field {
  background-image: url('../resources/search.png');
  background-repeat: no-repeat;
  background-position: 95% center;
}

#search #search-filter label {
  display: inline-block;
  margin: 0;
  height: 30px;
}

#search #search-filter #search-filter-price {
  margin: auto 0;
}

#search #trending-searches-lbl, #search #search-trending-searches #search-result-lbl {
  display: block;
  width: 100%;
  background: #eee;
  line-height: 3.2em;
  font-weight: bold;
  padding-left: 20px;
}

#search #search-trending-searches #search-result-lbl {
  margin-bottom: 30px;
}

#search #search-trending-searches .search-trending-search,
#people-also-bought .search-trending-search {
  float: left;
  width: 32%;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

#search #search-trending-searches .search-trending-search.right-margin {
  margin-right: 2%;
}

#search #search-trending-searches .trending-search-product-image,
#people-also-bought .search-trending-search .trending-search-product-image {
  height: 200px;
  background: url("../resources/product-box.jpg") no-repeat 1px;
}

#search #search-trending-searches label {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 10px;
  display:block;
  border-bottom: 2px solid #eee;
  margin-bottom: 15px;
}

#search #search-filter #submit-buttons {
  margin-top: 10%;
  border-top: 2px solid #eee;
  padding-top: 20px;
  width: 85%;
}

#search #search-filter input[type="reset"], #search #search-filter input[type="submit"] {
  width: 47.5%;
  line-height: 2.2em;
  border: none;
  text-transform: uppercase;
}

#search #search-filter input[type="reset"] {
  background: #ddd;
}

#search #search-filter input[type="submit"] {
  margin-right: 5%;
  background: rgb(153, 117, 91);
  color: #fff;
}

#search #search-filter input[type="checkbox"],
#registration input[type="checkbox"],
#checkout #delivery-options input[type="checkbox"],
#checkout #shipment-details input[type="checkbox"],
#return-an-order input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 30px;
  width: 30px;
  background: #eee;
  border-radius: 100%;
  margin: 20px 10px 0 0;
}

#search #search-filter input[type="checkbox"]:checked,
#registration input[type="checkbox"]:checked,
#checkout #delivery-options input[type="checkbox"]:checked,
#checkout #shipment-details input[type="checkbox"]:checked,
#return-an-order input[type="checkbox"]:checked {
  background: rgb(153, 117, 91);
}

#search #search-filter input[type="checkbox"]:checked::before,
#registration input[type="checkbox"]:checked::before,
#checkout #delivery-options input[type="checkbox"]:checked::before,
#checkout #shipment-details input[type="checkbox"]:checked::before,
#return-an-order input[type="checkbox"]:checked::before {
  content: '\2713';
  display: inline-block;
  position: absolute;
  font-size: 1.25em;
  color: #fff;
  padding-left: 6px;
  margin: 0;
}

#search #search-filter input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 65%;
  height: 25px;
  margin-left: 10%;
}

#search #search-filter input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #eee;
  border-radius: 1px;
}

#search #search-filter input[type=range]::-webkit-slider-thumb {
  height: 22px;
  width: 22px;
  border-radius: 15px;
  background: rgb(153, 117, 91);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

#search #search-buttons a, #people-also-bought #search-buttons a {
  display: inline-block;
  width: 30px;
  height: 30px;
}

#search #search-buttons #wishlist-btn, #search #search-buttons #add-to-cart-btn,
#people-also-bought #search-buttons #wishlist-btn, #people-also-bought #search-buttons #add-to-cart-btn {
  margin-right: 30%;
}

#search #search-buttons #wishlist-btn,
#people-also-bought #search-buttons #wishlist-btn {
  background: url('../resources/trending-wishlist.png') no-repeat;
}

#search #search-buttons #add-to-cart-btn,
#people-also-bought #search-buttons #add-to-cart-btn {
  background: url('../resources/trending-cart.png') no-repeat;
}

#search #search-buttons #share-btn,
#people-also-bought #search-buttons #share-btn {
  background: url('../resources/trending-share.png') no-repeat;
}

#cart .cart-item, #orders .order, #successful-order-items .cart-item,
#items-to-return .cart-item {
  width: 30%;
  float: left;
  margin-left: 3.3%
}

#cart .cart-item-details .cart-item-price, #orders .order-details .order-price,
#checkout .order .order-price, #successful-order-items .cart-item .cart-item-price,
#items-to-return .cart-item .cart-item-price {
  float: right;
  margin-right: 5%;
}

#cart .cart-item-details .cart-item-name, #cart .cart-item-details .cart-item-price,
#orders .order-details .order-name, #orders .order-details .order-price,
#checkout .order-details .order-name, #checkout .order-details .order-price,
#successful-order-items .cart-item .cart-item-details .cart-item-name,
#successful-order-items .cart-item .cart-item-details .cart-item-price,
#items-to-return .cart-item .cart-item-details .cart-item-name,
#items-to-return .cart-item .cart-item-details .cart-item-price {
  font-weight: bold;
}

#cart .cart-item-details .cart-item-description,
#successful-order-items .cart-item-details .cart-item-description,
#items-to-return .cart-item-details .cart-item-description {
  color: #aaa;
}

#cart .cart-item .cart-item-image, #orders .order .order-image, #checkout .order .order-image,
#successful-order-items .cart-item .cart-item-image, #items-to-return .cart-item .cart-item-image {
  float: left;
  width: 100px;
  height: 100px;
  background: url("../resources/cart-item.png") no-repeat;
  border: 2px solid rgb(153, 117, 91);
  margin: 2px 15px 0 0;
}

#cart .cart-item-actions {
  width: 100%;
  float: right;
  color: #aaa;
}

#cart .cart-item-actions div {
  display: inline-block;
  width: 50%;
}

#cart .cart-item-actions .move-to-wishlist {
  float: left;
}

#cart .cart-item-actions .move-to-wishlist .wishlist-btn-text {
  display: inline-block;
  width: 80%;
  height: 20px;
  text-decoration: none;
  color: #aaa;
}

#cart .cart-item-actions .move-to-wishlist .wishlist-btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../resources/cart-wishlist.png') no-repeat center 4px;
}

#cart .cart-item-actions .delete-btn-text {
  display: inline-block;
  text-decoration: none;
  color: #aaa;
}

#cart .cart-item-actions .delete-btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../resources/cart-delete.png') no-repeat center 3px;
}

#cart input[type="number"], #cart-nav-content input[type="number"] {
  color: #000;
  border: 1px solid #000;
  text-align: center;
  width: 35%;
  float: right;
  margin-right: 10%;
}

#cart .cart-quantity-lbl {
  color: #aaa;
  float: right;
  margin-right: 5%;
}

#orders {
  height: 400px;
}

#orders .order-name, #orders .order-price {
  font-size: 1.2em;
}

#orders .order-details {
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

#orders .order-shipment-status-container {
  padding-bottom: 30px;
  border-bottom: 2px solid #eee;
}

#orders .order .order-shipment-status, .product-customization-status {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#orders .order .order-shipment-status li, .product-customization-status li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

#orders .order .order-shipment-status[data-progtrckr-steps="2"] li,
.product-customization-status[data-progtrckr-steps="2"] li {
  width: 49%;
}

#orders .order .order-shipment-status[data-progtrckr-steps="3"] li {
  width: 33%;
}

.product-customization-status[data-progtrckr-steps="3"] li {
  width: 10%;
}

#orders .order .order-shipment-status li.order-shipment-status-done,
.product-customization-status li.product-customization-status-done {
    color: #000;
    border-bottom: 4px solid #eee;
}

#orders .order .order-shipment-status li.order-shipment-status-todo:not(:last-child),
.product-customization-status li.product-customization-status-todo:not(:last-child) {
    color: #000;
    border-bottom: 4px solid #eee;
}

#orders .order .order-shipment-status li.order-shipment-status-todo:last-child {
  margin-bottom: 0.5%;
}

#orders .order .order-shipment-status li:before,
.product-customization-status li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    line-height: 1em;
}

#orders .order .order-shipment-status li.order-shipment-status-done:before {
    content: "\2713";
    color: white;
    background: rgb(153, 117, 91);;
    width: 1.2em;
    height: 1.2em;
    font-size: 2em;
    padding-top: 5%;
    border: none;
    border-radius: 2.2em;
    bottom: -0.6em;
}

#orders .order .order-shipment-status li.order-shipment-status-todo:before {
    content: "status";
    color: transparent;
    background-color: #eee;
    width: 1.2em;
    height: 1.2em;
    font-size: 2em;
    bottom: -0.6em;
    border: none;
    border-radius: 100%;
}

#orders .order-shipment-status-labels-container span {
  display: inline-block;
  font-size: 1em;
  margin: 4% 8% 0 0;
}

#orders button {
  float: right;
  margin-top: 15px;
  background: #fff;
  color: rgb(153, 117, 91);
  border: 1px solid rgb(153, 117, 91);
  padding: 8px 5px;
  border-radius: 5%;
}

#orders button:focus {
  outline: none;
}

#home {
  width: 50%;
  margin: 0 auto;
}

#home #gift-box-label {
  width: 80%;
  margin: 0 auto 30px auto;
  opacity: 76%;
}

#home button {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background: rgba(54, 48, 46, 0.95);
  color: #fff;
  border: none;
}

#home button:focus {
  outline: none;
}

.slider-holder {
   width: 100%;
   height: 400px;
   margin: 0 auto;
   text-align: center;
   overflow: hidden;
 }

 .image-holder {
   width: 100%;
   height: 380px;
   margin: 0 auto;
   clear: both;
   position: relative;
   -webkit-transition: left 0.5s;
   -moz-transition: left 0.5s;
   -o-transition: left 0.5s;
   transition: left 0.5s;
 }

 .slider-image {
   float: left;
   margin: 0px;
   padding: 0px;
 }

 #slider-image-1:target ~ .image-holder {
   left: 0px;
 }

 #slider-image-2:target ~ .image-holder {
   left: -800px;
 }

 .button-holder {
   width: 100%;
   margin-bottom: 40px;
 }

 .slider-change {
   display: inline-block;
   height: 20px;
   width: 20px;
   border-radius: 100%;
   margin-right: 5px;
   background-color: rgb(153, 117, 91);
 }

 #checkout #delivery-options, #checkout #shipment-details, #checkout #payment-summary {
   width: 30%;
   float: left;
   margin-right: 2.5%;
 }

 #checkout #delivery-options {
   margin-left: 2.5%;
 }

 #checkout #delivery-options #delivery-options-lbl,
 #checkout #shipment-details #shipment-details-lbl,
 #checkout #payment-summary #payment-summary-lbl {
   display: inline-block;
   width: 100%;
   text-align: center;
   color: gray;
   font-size: 1.2em;
   margin-bottom: 20px;
 }

#checkout #delivery-options label {
  display: inline-block;
  width: 85%;
  margin: 0;
}

#checkout #delivery-options input[type="checkbox"] {
  height: 20px;
  width: 20px;
  font-size: 0.7em;
  margin: 0 5px 0 0;
}

#checkout #delivery-options #develiry-options-details-lbl {
  color: #aaa;
  display: inline-block;
  margin-bottom: 10px;
}

#checkout #delivery-options #delivery-options-personal-details span {
  display: inline-block;
  width: 100%;
}

#checkout .bold {
  font-weight: bold;
}

#checkout #delivery-options #way-of-delivery {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  background: url('../resources/shipping.png') no-repeat 100% center;
}

#checkout #delivery-options button {
  float: right;
  background: #fff;
  color: rgb(153, 117, 91);
  border: 1px solid rgb(153, 117, 91);
  border-radius: 5%;
  line-height: 2.2em;
}

#checkout button:focus {
  outline: none
}

#checkout .order {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#checkout .order .order-name, #checkout .order .order-price {
  font-size: 1.4em;
}

#checkout #shipment-details input[type="checkbox"] {
  width: 20px;
  height: 20px;
  font-size: 0.7em;
  margin: 0 5px 0 0;
}

#checkout #shipment-details label {
  font-weight: bold;
}

#checkout #shipment-details #shipping-delivery-options span {
  display: inline-block;
  width: 100%;
  color: #aaa;
}

#checkout #payment-summary div span {
  display: inline-block;
  width: 50%;
  font-weight: bold;
}

#checkout #payment-summary div {
  height: 50px;
  margin-bottom: 3%;
}

#checkout #payment-summary a {
  text-decoration: none;
  color: rgb(153, 117, 91);
}

#checkout #payment-summary button {
  width: 90%;
  margin: 0 auto;
  line-height: 2.2em;
  background: rgb(153, 117, 91);
  border: none;
  color: #fff;
  font-size: 1.4em;
}

#checkout #payment-summary #got-coupon-lbl {
  background: url('../resources/coupon.png') no-repeat 0 center;
  padding-left: 40px;
}

#successful-order h2 {
  color: gray;
  text-align: center;
  margin-bottom: 3%;
}

#successful-order-details, #return-order-details {
  width: 90%;
  margin: 0 auto 3% auto;
  color: gray;
  padding-bottom: 2%;
  border-bottom: 1px solid #ccc;
}

#successful-order-details span, #return-order-details span {
  display: inline-block;
  width: 90%;
}

#successful-order-items {
  width: 90%;
  margin: 0 auto 2% auto;
}

#people-also-bought {
  width: 90%;
  margin: 0 auto;
}

h2#people-also-bought-heading {
  width: 90%;
  margin: 0 auto 2% auto;
  text-align: left;
}

#people-also-bought .search-trending-search {
  width: 250px;
  padding: 10px;
}

.search-trending-search label {
  font-size: 1.4em;
  display: block;
  width: 80%;
  margin: 5% auto;
}

#successful-order #return-to-home-page {
  width: 20%;
  margin: 0 auto;
}

#successful-order button {
  line-height: 2.4em;
  background: rgb(153, 117, 91);
  color: #fff;
  border: none;
  margin-top: 3%;
  width: 100%;
}

#successful-order button:focus {
  outline: none;
}

#items-to-return {
  width: 90%;
  margin: 0 auto;
}

.return-an-order-checkbox-container {
  width: 2%;
  float: left;
  margin: 1% 0;
}

#return-an-order .cart-item {
  margin-left: 1%;
}

#return-an-order button {
  line-height: 2.4em;
  width: 33%;
  border: none;
  color: #fff;
  background: rgb(153, 117, 91);
}

#return-an-order button:focus {
  outline: none;
}

#return-an-order #complete-return-container {
  width: 90%;
  margin: 0 auto;
}

#product-customization-box-type {
  width: 70%;
  margin: 0 auto;
}

#product-customization-box-type h2 {
  text-align: center;
  height: 50px;
  background: url('../resources/gift.png') no-repeat 33% center;
  padding-top: 10px;
  margin-bottom: 5%;
}

#product-customization-box-type #square-box,
#product-customization-box-type #rectangular-box {
  float: left;
  width: 45%;
}

#product-customization-box-type #square-box {
  margin-right: 10%;
}

#product-customization-box-type #square-box div,
#product-customization-box-type #rectangular-box div {
  width: 100%;
  height: 320px;
}

#product-customization-box-type #square-box div {
  background: url('../resources/square-box-home-page.png') no-repeat center;
}

#product-customization-box-type #rectangular-box div {
  background: url('../resources/rectangular-box-home-page.png') no-repeat center;
}

#product-customization-box-type #square-box #square-box-image {
  width: 100%;
  height: 320px;
  background: url('../resources/square-box-home-page.png') no-repeat center;
}

#product-customization-box-type div {
  font-size: 1.2em;
}

#product-customization-box-type .floated-right {
  float: right;
}

#product-customization-box-type button {
  color: #ccc;
  background: rgb(54, 48, 46);
  line-height: 2em;
  border: none;
  text-align: justify;
  font-size: 0.9em;
  background-image: url('../resources/white-next.png');
  background-repeat: no-repeat;
  background-position: 98% 70%;
}

#product-customization-box-type button:focus {
  outline: none;
}

#product-customization-one-note {
  width: 25%;
  margin: 0 auto;
  font-size: 1.2em;
}

#product-customization-one-note #gift-note-message {
  text-align: center;
  display: inline-block;
}

#product-customization-one-note #gift-note-icon {
  display: inline-block;
  width: 100%;
  height: 100px;
  border-radius: 5%;
  background: url('../resources/note-big-gold.png') no-repeat 50% center;
}

#product-customization-one-note form {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5%;
  margin-bottom: 10%;
}

#product-customization-one-note textarea {
  resize: none;
  width: 100%;
  height: 150px;
  background: #eee;
  padding: 3%;
  margin: 10% 0;
  border: 1px solid #ccc;
}

#product-customization-one-note button {
  width: 100%;
  line-height: 2.2em;
  margin-bottom: 2%;
  border: none;
}

#product-customization-one-note button:focus {
  outline: none;
}

#product-customization-one-note .brown-color {
  background: rgb(153, 117, 91);
  color: #fff;
}

#product-customization-one-note #note-save-btn:active {
  color: #fff;
  background: #ccc;
}

#product-customization-one-note a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../resources/back.png') no-repeat center;
}

#product-customization-color, #product-customization-dates {
  width: 90%;
  height: 400px;
  margin: 0 auto;
}

.product-customization-status {
  height: 120px;
  text-align: center;

}

.product-customization-status li a {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url('../resources/back.png') no-repeat 50% 100%;
}

.product-customization-status li.product-customization-status-done:before {
    content: "1";
    color: white;
    background: rgb(153, 117, 91);;
    width: 1.5em;
    height: 1.5em;
    font-size: 2.5em;
    padding-top: 7%;
    border: none;
    border-radius: 2.2em;
    bottom: -0.8em;
}

.product-customization-status li.product-customization-status-todo:last-child {
  margin-bottom: 0.3%;
}

.product-customization-status li.product-customization-status-todo:before {
    content: "1";
    color: transparent;
    background-color: #eee;
    width: 1em;
    font-size: 2.2em;
    bottom: -0.5em;
    border: none;
    border-radius: 100%;
}

.product-customization-status li.product-customization-status-todo:before {
    content: "2";
    color: gray;
    background-color: #eee;
    width: 1.5em;
    height: 1.5em;
    font-size: 2.5em;
    padding-top: 7%;
    bottom: -0.8em;
    border: none;
    border-radius: 100%;
}

.product-customization-status li#step-3:before, .product-customization-status li#step-4:before {
    border: 2px dashed #aaa;
}

.product-customization-status li#step-3:before {
  content: "3";
}

.product-customization-status li#step-4:before {
  content: "4";
}

.product-customization-status li#step-5:before {
  content: "5";
}


#product-customization-color h2, #product-customization-dates h2 {
  text-align: center;
}

#product-customization-color .select-box-dimensions-lbl,
#product-customization-dates .select-box-dimensions-lbl {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #aaa;
  margin-bottom: 5%;
}

.select-silver-color, {
  height: 500px;
}

#product-customization-color .select-box-type-1, #product-customization-color .select-box-type-2,
#product-customization-dates .select-box-type-1, #product-customization-dates .select-box-type-2 {
  float: left;
  width: 50%;
  height: 300px;
}

#product-customization-color .select-box-type-1,
#product-customization-dates .select-box-type-1 {
  border-right: 2px solid #eee;
}

#product-customization-color .select-box-type-1 .select-box-type-1-image,
#product-customization-dates .select-box-type-1 .select-box-type-1-image {
  width: 250px;
  height: 250px;
  float: left;
  background: url('../resources/product-box.jpg') no-repeat center;
}

#product-customization-color .select-box-type-2 .select-box-type-2-image,
#product-customization-dates .select-box-type-2 .select-box-type-2-image {
  width: 250px;
  float: left;
  height: 250px;
  background: url('../resources/product-box.jpg') no-repeat center;
}

#product-customization-color .magnifier-btn,
#product-customization-dates .magnifier-btn {
  display: inline-block;
  width: 50%;
  height: 25px;
  background: url('../resources/product-zoom.png') no-repeat 80% center;
}

#product-customization-color .select-box-type-1-price,
#product-customization-color .select-box-type-2-price,
#product-customization-dates .select-box-type-1-price,
#product-customization-dates .select-box-type-2-price {
  font-size: 1.4em;
  float: right;
  margin-right: 5%;
}

#product-customization-color .select-box-type-1-next-btn,
#product-customization-color .select-box-type-2-next-btn,
#product-customization-dates .select-box-type-1-next-btn,
#product-customization-dates .select-box-type-2-next-btn {
  text-decoration: none;
  display: inline-block;
  width: 115px;
  height: 115px;
  color: #000;
  margin: 20% 0 0 20%;
  padding: 40px 0;
  font-size: 1.6em;
}

#product-customization-color .select-box-type-1-next-btn,
#product-customization-dates .select-box-type-1-next-btn {
  background-color: rgb(198, 198, 198);
  text-align: center;
  border-radius: 100%;
}

#product-customization-color .select-box-type-2-next-btn,
#product-customization-dates .select-box-type-2-next-btn {
  background-color: rgb(227, 190, 123);
  text-align: center;
  border-radius: 100%;
}

#product-customization-color .product-customization-next-btn,
#product-customization-dates .product-customization-next-btn {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('../resources/next.png') no-repeat 100% center;
  float: right;
  margin-top: 30%;
}
